.card {
  margin: 35px 0;
  width: 100%;
  height: 125px;
  border-radius: 10px;
  box-shadow: #0000001a 0px 20px 20px -10px, #0000000a 0px 10px 10px -5px;
  border: 1px solid #c0c0c068;
  background-color: #ffffff;
  display: flex;
  cursor: pointer;
  transition: 200ms;
}

.card:hover {
  transform: scale(1.01);
}

.card-content {
  width: calc(100% - 75px);
  padding: 10px 25px;
  overflow: hidden;
  transition: 200ms;
}

.card-content:active {
  background-color: #f3f1f1;
}

.title {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #3b3b3b;
}

.author {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #1f75ff;
  margin-bottom: 10px;
}

.idea {
  color: #848484;
  line-height: 20px;
  font-family: "Mukta", sans-serif;
  width: 90%;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}

.votes {
  width: 150px;
  background-color: #f4f8fd;
  border-left: 1px solid #8080804d;
  border-radius: 0 10px 10px 0;
  color: #9b9b9b;
  display: flex;
}

.votes .text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

.likes .text {
  color: #1f75ff;
}

.dislikes .text {
  color: #9c0000;
}

.like {
  color: #5c9aff;
}

.dislike {
  color: #d53737;
}

.likes,
.dislikes {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likes {
  border-bottom: 1px solid #8080804d;
}

.likes:hover {
  background-color: #e1ecff;
}

.dislikes:hover {
  background-color: #ffeeee;
}

.votes .fa-solid {
  font-size: 30px;
}
