.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  box-shadow: #00000034 0px 20px 25px -5px;
  background-color: #f1f1f19d;
  height: 100vh;
}

.menu {
  text-align: center;
  width: 100%;
}

.logo {
  width: 50%;
  margin-bottom: 50px;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 20px;
  color: #5d5d5d;
}

.item .text {
  font-weight: 500;
  font-size: 17px;
  font-family: "Mukta", sans-serif;
}

.icon {
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.active {
  color: #1f75ff;
}

.active::before {
  position: absolute;
  content: "";
  width: 4px;
  background-color: #1f75ff;
  height: 100%;
  left: 0;
  border-radius: 0 5px 5px 0;
}

.profile {
  width: 100%;
  padding-left: 25px;
  margin-bottom: 20px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-name {
  font-family: "Mukta", sans-serif !important;
  color: #5d5d5d;
}

.logout-btn,
.submit-btn {
  height: 35px;
  width: 110px;
  font-size: 12px !important;
  font-weight: 600 !important;
  font-family: "Public Sans", sans-serif !important;
}
